<style>
    *{
        text-align: center;
        background-color: grey;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h1{
        margin: 50px 0px;
        font-size: 100px;
        font-family: 'Courier New', Courier, monospace;
    }

    a{
        text-decoration: none;
    }

    a:hover{
        background-color: black;
        border: 1px solid black;
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        border-radius: 5px;
    }
</style>



<h1>Employee Data</h1>
<a href="register">Create New Employee </a><br><br><br>
<a href="details">Details of All Employees</a>